/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* Primary Color Palette */
:root {
  --ub-blue: #005bbb;
  --white: #ffffff;
  --grid-color: rgba(0, 91, 187, 0.2);
}

/* Global Styles */
body {
  font-family: "Orbitron", sans-serif;
  background-color: var(--white);
  background-image: linear-gradient(0deg, transparent 24%, var(--grid-color) 25%, var(--grid-color) 26%, transparent 27%, transparent 74%, var(--grid-color) 75%, var(--grid-color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--grid-color) 25%, var(--grid-color) 26%, transparent 27%, transparent 74%, var(--grid-color) 75%, var(--grid-color) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
  color: var(--ub-blue);
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar {
  background-color: var(--ub-blue);
}

.navbar a {
  color: var(--white);
}

.navbar a:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Resume Sections */
.container {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 2em;
}

section h2 {
  color: var(--ub-blue);
  border-bottom: 2px solid var(--ub-blue);
  padding-bottom: 10px;
}

/* Individual Resume Cards */
.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--ub-blue);
  margin-bottom: 1em;
  border-radius: 10px;
}

.card-body {
  color: var(--ub-blue);
}

.card-title {
  font-size: 1.2em;
}

.btn {
  background-color: var(--ub-blue);
  color: var(--white);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(0, 91, 187, 0.8);
  color: var(--white);
}

div[id^="major-"] {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid var(--ub-blue);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Added background color */
}

/* Style for the horizontal line */
hr {
  border: 0;
  height: 1px;
  background: var(--ub-blue);
  margin-top: 2em;
  margin-bottom: 2em;
  background: var(--solar-strand); /* Changed to Solar Strand */
}

div[id^="major-"] + div[id^="major-"] {
  margin-top: 4em;
}

